            // Widescreens
            @include mediaXl {
                .projects {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
            
            //Desktops @ laptops 
            @include mediaLg {}
            
            //Tablets
            @include mediaMd {
                main {
                    align-items: center;
                    text-align: center;
                    .lg-heading {
                        line-height: 1;
                        margin-bottom: 0;
                    }
                    .sm-heading {
                        margin-top: 32px;
                    }
                }
                ul.menu-nav,
                div.menu-branding {
                    float: none;
                    width: 100%;
                    min-height: 0;
                    //navbar sliding when in tablet or mobile
                    &.show {
                        transform: translate3d(0, 0, 0);
                    }
                }
                .menu-nav {
                    height: 70vh;
                    transform: translate3d(-100%, 0, 0);
                    font-size: 24px;
                }
                .menu-branding {
                    height: 30vh;
                    transform: translate3d(100%, 0, 0);
                    .portrait {
                        background: url('../img/smallJeffGuitar.jpg');
                        background-position: center;
                        background-size: cover;
                        width: 150px;
                        height: 150px;
                    }
                }
                .about-info {
                    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
                    grid-template-columns: 1fr;
                }
                .projects {
                    grid-template-columns: repeat(2, 1fr);
                }
                main#contact {
                    .boxes div {
                        font-size: 1.5rem;
                    }
                }
            }
            
            //Smartphones 
            @include mediaSm {
                main#home {
                    h1 {
                        font-size: 5rem;
                        margin-top: 15vh;
                    }
                }
                main#about,
                main#contact,
                main#work {
                    h1 {
                        font-size: 3rem;
                        margin-top: 5vh;
                    }
                    h2 {
                        font-size: 1.5rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
                .projects {
                    grid-template-columns: 1fr;
                }
                main#contact {
                    .boxes div {
                        font-size: 1.2rem;
                    }
                }
            }
            
            //Small Smartphones
            @include mediaXs {
                .menu {
                    .nav-link {
                        font-size: 20px;
                    }
                    .menu-branding {
                        height: 35vh;
                    }
                    .menu-nav {
                        height: 65vh;
                    }
                }
                main#home {
                    h1.lg-heading {
                        font-size: 3rem;
                    }
                    h2 {
                        font-size: 1.2rem;
                    }
                }
                .icons {
                    font-size: 1rem;
                }
                main#about,
                main#contact,
                main#work {
                    h1 {
                        font-size: 3rem;
                        margin-top: 5vh;
                    }
                    h2 {
                        font-size: 1.5rem;
                    }
                }
                main#about {
                    .about-info {
                        img {
                            height: 200px;
                        }
                        .bio {
                            font-size: 1rem;
                        }
                    }
                }
                main#work {
                    padding-left: 35px;
                    padding-right: 35px;
                }
                main#contact {
                    .boxes div {
                        font-size: 1.2rem;
                    }
                }
            }
            
            //Iphone Se + iphone 12 mini
            @include mediaSe {
                main#home {
                    h1.lg-heading {
                        margin-top: 5vh;
                    }
                }
            }